html, body {
  height: 100%;
  width: 75%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

form {
  display:block;
  height: 50%;
}

input {
  padding: 1.5% 1.5%;
  margin: 1% 0;
  box-sizing: border-box;
}